<div class="discover">
    <!--广告栏-->
    <div class="banner_wrap clearfix">
        <ul class="moveUl clearfix">
            <li><a href="#/"><img src="images/2.png" alt=""></a></li>
            <li><a href="#/"><img src="images/1.png" alt=""></a></li>
            <li><a href="#/"><img src="images/3.jpg" alt=""></a></li>
            <li><a href="#/"><img src="images/2.png" alt=""></a></li>
            <li><a href="#/"><img src="images/1.png" alt=""></a></li>
        </ul>
        <ol class="banner_index">
            <li class="active"></li>
            <li></li>
            <li></li>
        </ol>
    </div>

    <!-- 导航 -->
    <div class="nav">
        <ul>
            <li><a href="#/">
                <img src="images/Shape-1-copy-40.png" alt="">
                <span>保税区</span>
            </a></li>
            <li><a href="#/">
                <img src="images/Shape-1-copy-401.png" alt="">
                <span>订单</span>
            </a></li>
            <li><a href="#/">
                <img src="images/Shape-1-copy-402.png" alt="">
                <span>类目</span>
            </a></li>
            <li><a href="#/">
                <img src="images/Shape-1-copy-20.png" alt="">
                <span>闪购</span>
            </a></li>
        </ul>
    </div>

    <!-- 广告栏 -->
    <div class="advert_info">
        <a class="active today" href="#/">今日上新</a>
        <span class="shu"></span>
        <a class="tomorrow" href="#/">明日</a>
    </div>
    <!-- 商品 -->
    <div class="today_goods">
        <div class="goods_title">
            <a href="#/">
                <img src="images/lb.png" alt="">
                <span>今日共有12个专场开售</span>
            </a>
        </div>
        <ul class="goods_info">
            <li><a href="#/">
                <img src="images/goods1.png" alt="">
            </a>
            </li>
            <li><a href="#/">
                <img src="images/goods5.png" alt="">
            </a>
            </li>
            <li><a href="#/">
                <img src="images/goods3.png" alt="">
            </a>
            </li>
            <li><a href="#/">
                <img src="images/goods4.png" alt="">
            </a>
            </li>
        </ul>
    </div>
</div>
