<div class="ornament">
    <div class="item">
        <a href="#/">
            <img src="images/or1.png" alt="">
            <span class="goods_name">纯手工个性水晶而定(海上花)</span><br>
            <span>清新的海上花个性水晶耳钉，带着一点清亮漫画风，设计师甜鸟对...</span><br>
            <span>一手价：<span class="price">￥38.00</span></span>
        </a>
    </div>
    <div class="item">
        <div class="fold fold_left">
            <a  href="#/">
                <img src="images/or2.png" alt="">
                <span class="goods_name">珍珠银项链(复古银)</span><br>
                <span>传承中国古典风，以珍珠银...</span><br>
                <span>一手价：<span class="price">￥49.00</span></span>
            </a>
        </div>
        <div class="fold">
            <a href="#/">
                <img src="images/or2.png" alt="">
                <span class="goods_name">东方之珠(珍珠美)</span><br>
                <span>赋予东方之珠之名字，价值...</span><br>
                <span>一手价：<span class="price">￥69.00</span></span>
            </a>
        </div>
    </div>
</div>