<div class="toiletry">
    <div class="item">
        <a href="#/">
            <img src="images/try3.png" alt="">
            <span class="goods_name">缔造美丽神话美肤水(240ML)</span><br>
            <span>富含玫瑰香蕉精油粹深入渗透肌底，收缩毛孔，保湿滋养,二次清洁...</span><br>
            <span>一手价：<span class="price">￥238.00</span></span>
        </a>
        <a href="#/">
            <img src="images/try4.png" alt="">
            <span class="goods_name">泊莱雅新柔哲玫瑰水(120ML)</span><br>
            <span>女性的美丽，为您量身而做，拥有属于自己独一无二的味道，童话...</span><br>
            <span>一手价：<span class="price">￥206.00</span></span>
        </a>
    </div>

</div>
