<div class="tswk">
    <div class="wk">
        <a href="#/">
            <img class="img" src="images/tswk1.png" alt="">
            <span class="wk_price"><del>￥218</del><span class="now_price">￥129</span></span>
        </a>
        <a class="wk_title"><!--美丽芳&nbsp;&gt;--></a>
    </div>
    <div class="wk">
        <a href="#/">
            <img class="img" src="images/tswk2.png" alt="">
            <span class="wk_price"><del>￥218</del><span class="now_price">￥129</span></span>
        </a>
        <a class="wk_hot"></a>
    </div>
    <div class="wk_item">
        <div class="item">
            <div class="item">
                <div class="fold fold_left">
                    <a  href="#/">
                        <img src="images/tswk3.png" alt="">
                        <span class="goods_name">珍珠银项链(复古银)</span><br>
                        <span>传承中国古典风，以珍珠银...</span><br>
                        <span>一手价：<span class="price">￥49.00</span></span>
                    </a>
                </div>
                <div class="fold">
                    <a href="#/">
                        <img src="images/tswk4.png" alt="">
                        <span class="goods_name">东方之珠(珍珠美)</span><br>
                        <span>赋予东方之珠之名字，价值...</span><br>
                        <span>一手价：<span class="price">￥69.00</span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>